.container
{
    background-color:#000;
    background: linear-gradient(160deg, #545454 0%, #000000 100%);
    position:relative;
    width:100%;
    height:100%;
}
.chart
{
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
}
.chart__inner
{
    transition: all 1s ease-in-out;
    transform: scale(1);
}
.chart__inner.chart__inner--hidden
{
    transform: scale(0);
}