@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body,
button,
input,
select,
textarea
{
	font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin font-heading
{
	font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-style: normal;
}